<!-- search.component.html -->
<div class="max-w-7xl mx-auto text-center z-10">
  <h2 class="text-4xl font-semibold text-darkBlue mb-6">
    Encuentra tu próximo gran emprendimiento
  </h2>

  <p class="text-gray font-opensans font-sm mb-8 max-w-2xl mx-auto">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat
    arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus.
  </p>

  <div class="flex flex-col sm:flex-row gap-4 md:gap-0 max-w-xl mx-auto z-20">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (keyup.enter)="onSearch()"
      placeholder="Encuentra tu emprendimiento"
      class="placeholder:text-gray placeholder:font-[16px] placeholder:font-redhat flex-1 h-12 bg-[#F4F4F4] py-4 px-4 rounded-md md:rounded-r-none border border-[#dddddd] focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
    />
    <button
      (click)="onSearch()"
      class="h-12 px-6 cursor-pointer bg-primary hover:text-primary hover:bg-secondary text-white font-extralight rounded-md md:rounded-l-none flex items-center justify-center transition-colors duration-200 gap-2"
    >
      <svg
        class="w-5 h-5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 12h14M12 5l7 7-7 7"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      Buscar
    </button>
  </div>
</div>