<section class="bg-lightGreen relative z-0 max-w-[100%]">
	<div class="max-w-[500px] md:max-w-[700px] lg:max-w-[100%] lg:flex-row flex flex-col items-center justify-center pt-16 mx-auto text-center lg:text-start lg:mx-4 z-20 lg:justify-between">
		<div class="flex flex-col items-center justify-center lg:justify-start lg:items-start lg:w-[50%] z-30 lg:px-12">
			<h1 class="text-darkBlue text-3xl font-bold font-redhat pb-3 lg:text-[60px] lg:leading-[72px] lg:w-[90%%]">
				Crecer con una red de emprendedores junto a
				<span class="text-primary">Impuls</span>
			</h1>
			<p class="text-gray font-opensans pb-6 text-[15px] lg:text-[20px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia amet eveniet quod vel eaque, ab, quae non aliquid optio nam porro nulla qui et dolorem corrupti dolorum laudantium rerum voluptate.</p>
			<div class="flex font-opensans font-semibold pb-10">
				<button (click)="goToSignUpPage()" class="h-12 w-42 bg-primary text-white flex justify-center items-center rounded-sm text-sm hover:bg-secondary hover:text-primary cursor-pointer">
					Agregar mi emprendimiento
				</button>
				<button (click)="goToDirectory()" class="h-12 w-42 ml-6 bg-lightGreen text-primary border border-primary flex justify-center items-center rounded-sm text-sm hover:bg-primary hover:text-white cursor-pointer">
					Ir al directorio
				</button>
			</div>
		</div>

		<div class="relative flex justify-center">
			<img src="/hero/alternative.svg" alt="father daughter" class="mx-auto w-[400px] md:w-[500px] lg:w-[600px] z-30" />
		</div>
	</div>

	<!--Background shapes-->
	<div class="hidden lg:block lg:absolute z-0 left-44 top-10 lg:w-[200px]">
		<img src="/hero/shape-1.png" alt="shape" />
	</div>
</section>
