<div class="relative ml-3">
  <!-- Profile Button -->
  <button class="bg-card relative flex rounded-full text-sm cursor-pointer" type="button">
    <span class="sr-only">Open user menu</span>
    <img
      
      class="size-9 shrink-0 rounded-md"
      src="/navbar/avatar.png"
      alt="" />
  </button>
  <!-- Dropdown -->
 <!-- <div
   
    class="bg-background shadow-custom border-muted absolute z-20 mt-2 w-60 origin-top-right transform rounded-md border border-dashed py-4 ring-1 ring-transparent ring-opacity-5 transition focus:outline-hidden ltr:right-0 rtl:left-0">
    <div class="flext-row flex items-center px-4 pb-4">
      <div class="w-10 shrink-0">
        <img class="rounded-md" src="https://avatars.githubusercontent.com/u/22331548?v=4" alt="" />
      </div>
      <div class="text-foreground overflow-hidden px-2 text-sm font-semibold">
        Mario Ramírez
        <p class="text-muted-foreground truncate text-ellipsis text-xs font-semibold">me&#64;lanno.dev</p>
      </div>
    </div>

    <div class="border-border border-b border-dashed"></div>


    <hr class="border-border border-dashed" />
    <div class="mx-4 my-2">
      <span class="text-foreground text-xs font-semibold">Color</span>
      <div class="mt-2 grid grid-cols-2 gap-2">

      </div>
    </div>
    <div class="mx-4 my-2">
      <span class="text-foreground text-xs font-semibold">Mode</span>
      <div class="mt-2 grid grid-cols-2 gap-2">

      </div>
    </div>
    <div class="mx-4 my-2">
      <span class="text-foreground text-xs font-semibold">Direction</span>
      <div class="mt-2 grid grid-cols-2 gap-2">

      </div>
    </div>
  </div>-->
</div>
