<!-- Footer Section Container -->
<footer class="bg-secondary py-16 px-4 sm:px-6 lg:px-8 bg-greenBg">
	<div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-center md:text-left">
		<!-- Logo & Contact Info Column -->
		<div class="space-y-4">
			<h2 class="text-primary text-3xl font-black ml-4 font-redhat">Impuls</h2>

			<div class="space-y-3">
				<div class="flex flex-col md:flex-row items-center md:items-start">
					<span class="text-gray-600 font-medium w-full md:w-25">Creado por:</span>
					<span class="text-gray">Mario Humberto Ramírez</span>
				</div>

				<div class="flex flex-col md:flex-row items-center md:items-start">
					<span class="text-gray-600 font-medium w-full md:w-25">Repositorio:</span>
					<span class="text-gray"><a href="https://github.com/mariohramirez/Impuls">Impulse</a></span>
				</div>
			</div>
		</div>

	</div>
</footer>
